:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

/* Define a cor do background e dos textos. Organiza o display no estilo flex e impõe uma margem.*/
html,
body {
  margin: 0;
}

body {
  background-color: var(--body-bg-color);
  display: flex;
  justify-content: space-between;
}

body * {
  font-family: 'Merriweather Sans', sans-serif;
  color: var(--text-color);
}

/* Coluna lateral. */
aside {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: calc(24vw - 2.7%);
  margin: 2.7% 2% 2.7% 2.7%;
}

/* Centro com links de projetos */
main {
  display: flex;
  flex-flow: row wrap;
  align-self: flex-start;
  width: calc(66vw - 2.7%);
  flex-basis: 70.9%;
  margin: 2.7% 2.7% 2.7% 2%;
}

div {
  background-color: var(--bg-cards);
  padding: 20px;
  border-radius: 15px;
  box-sizing: border-box;
  margin-bottom: 25px;
}

.aside-box {
  width: 100%;
  padding-bottom: 1em;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
}

.profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-box p {
  font-weight: 700;
  font-size: 23px;
  margin: 0.7rem 0 0.3rem 0;
}

.profile-box sub {
  font-weight: 300;
  font-size: 13px;
}

.profile-picture {
  border-radius: 50%;
  width: 190px;
  background-color: #00ff00;
}

.profile-picture:hover {
  transform: scale(1.04);
  padding: 2px;
  transition: 0.3s;
}

.informations {
  display: flex;
  flex-wrap: wrap;
}

.informations i {
  display: flex;
  justify-content: end;
  width: 17px;
}

.links {
  text-decoration: none;
  flex-basis: calc(100% - 29px);
  margin-left: 0.6rem;
  font-size: 12px;
  font-weight: 400;
  padding-top: 0.07rem;
}

.links:hover {
  text-decoration: underline;
}

.links:active {
  color: #7eb7cb;
}

.links:last-child {
  padding-bottom: 0.3rem;
}

.skill-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill-box p:first-child {
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  padding-top: 0;
  margin-top: 0;
}

.skill-box p:nth-child(n+2) {
  font-size: 10.5px;
  font-weight: 1000;
  text-align: center;
  color: black;
  margin-top: 0;
  padding: 5px 0;
  border-radius: 30px;
  background-color: var(--bg-techs);
  width: calc(33% - 5%);
}

.skill-box p:nth-child(2) {
  margin-left: 1em;
}

.skill-box p:nth-child(4) {
  margin-right: 1em;
}

.schooling > p {
  margin: 0 0 1rem 0;
  font-size: 20px;
  font-weight: 700;
}

.school-box {
  padding: 0;
  margin: 1rem;
}

.school-box p:first-child {
  margin: 0 0 0.1rem 0.2rem;
  font-size: 14px;
  font-weight: 700;
}

.school-box p:nth-child(2) {
  font-size: 12px;
  font-weight: 300;
}

.school-box p:nth-child(3) {
  font-size: 12px;
  font-weight: 400;
}

.school-box p:nth-child(n+2) {
  margin: 0 0 0 1rem;
}

.main-box {
  flex-grow: 1;
  height: 80px;
  align-items: center;
  align-self: flex-start;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.header-main-box {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-main-box span {
  font-weight: 700;
  font-size: 20px;
}

.header-main-box span:last-child {
  font-size: 14px;
  font-weight: 400;
}

.github-box {
  flex-basis: calc(50% - 15px);
  height: auto;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
}

.github-box a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  margin-left: 0.7rem;
  flex-basis: calc(100% - 36px);
}

.github-box p {
  flex-basis: 100%;
  font-size: 14px;
  font-weight: 400;
}

.fa-folder-open {
  width: 20px;
  height: 20px;
  margin-top: 0;
  display: flex;
  justify-content: space-around;
  padding-top: 0.1rem;
}

.fa-star {
  margin-right: 0.3rem;
}

.fa-code-branch {
  margin-left: 15%;
  margin-right: 0.3rem;
}

.left-github-box {
  margin-right: 25px;
}

.little-box-footer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
}

.little-left-footer,
.little-right-footer {
  display: flex;
  margin: 0;
  padding: 0;
}

.little-left-footer span,
.little-right-footer span {
  font-size: 14px;
  font-weight: 400;
}

.ellipse {
  box-sizing: border-box;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 6% 0.4rem 0 0;
  padding: 0;
  background: rgb(251, 255, 22);
  border: 2px solid #fffd7b;
}
